name: Build Windows Executable

on:
  workflow_dispatch:

jobs:
  build:

    runs-on: windows-2022
    strategy:
      matrix:
        python-version: ['3.12']
        
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pywin32==306
        pip install pyinstaller==6.7.0
    - name: Build executable
      run: python -m PyInstaller  main.py --onefile --noconsole -n MTGA_Draft_Tool --clean

    - name: Build installer
      run: iscc ./builder/Installer.iss
      
    - name: Calculate installer hash
      run: |
        $folder = "./builder/{app}"
        Get-ChildItem -Path $folder | ForEach-Object {
            $filePath = $_.FullName
            Write-Output "SHA256 hash for $filePath:"
            CertUtil -hashfile $filePath SHA256 > "$filePath.hash.txt"
        }

    - name: Upload installer
      uses: actions/upload-artifact@v4
      with: 
        name: MTGA_Draft_17Lands_Installer
        path: ./builder/{app}
